<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Table</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">
</head>
<body>
    <div id="header">
        <h3>First Name</h3>
        <h3>Last Name</h3>
        <h3>Full Name</h3>
    </div>
    {% for i in range(users|length) %}
    <div class="row">
        <p>{{users[i].first_name}}</p>
        <p>{{users[i].last_name}}</p>
        <p>{{users[i].first_name + " " + users[i].last_name}}</p>
    </div>
    {% endfor %}
</body>
</html>