<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
</head>
<body>
    <h1>All Users</h1>
    <a href="/create_user">Add a New User</a>
    {% for user in users %}
            <p>ID: {{user.id}}</p>
            <p>First Name: {{user.first_name}}</p>
            <p>Last Name: {{user.last_name}}</p>
            <p>email: {{user.email}}</p>
            <p>Actions: <a href="/read_one/{{user.id}}">Show</a> <a href="/edit/{{user.id}}">Edit</a> <a href="/delete/{{user.id}}">Delete</a></p>
            <hr>
    {% endfor %}
    
</body>
</html>