<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style1.css')}}">
</head>
<body>
    <div id="main1">
        <h1><u>Submitted Info</u></h1>
        <div id="main">
            <div>
                <p>Name:</p>
                <p>Dojo Location:</p>
                <p>Favorite Language:</p>
                <p>Comment:</p>
            </div>
            <div>
                <p>{{ session['name'] }}</p>
                <p>{{ session['dojo_location'] }}</p>
                <p>{{ session['favorite_language'] }}</p>
                <p>{{ session['comment'] }}</p>
            </div>
        </div>
        <form action="/home" method = 'post'>
            <button name="back">Go Back</button>
        </form>
    </div>
</body>
</html>