<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <h1>Counter</h1>
    <div id="nums">
        <p>Number of visits to this site: {{ session['visits'] }}</p>
        <p>Current number count: {{ session['num'] }}</p>
    </div>
    <div id="forms">
        <form action = "/process_click" method = 'post'>
            <button name = "click" id = "click" onmouseover = >Click</button>
        </form>
        <form action="/process_plustwo" method = 'post'>
            <button name = "plus_two" id = "plus_two">Add Two</button>
        </form>
        <form action="/process_custom" method = 'post'>
            <input type="text" name = 'custom' id = 'custom' placeholder = "Increment by a custom number...">
            <button name = 'enter' id = 'enter'>Enter</button>
        </form>
        <form action = "/process_reset" method = 'post'>
            <button name = "reset" id = "reset">Reset</button>
        </form>
    </div>
</body>
</html>