*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 10px 200px;
    text-align: center;
}
#nums{
    display: flex;
    justify-content: center;
    font-size: 20px;
}
#nums>p{
    padding: 20px;
}
#forms{
    display: flex;
    justify-content: center;
}
#forms>form{
    margin: 0px 50px;
}
#click{
    padding: 0px 10px;
    height: 30px;
    background-color: blue;
    color: yellow;
    border-radius: 5px;
}
#plus_two{
    padding: 0px 10px;
    height: 30px;
    background-color: green;
    color: orange;
    border-radius: 5px;
}
#custom{
    height: 30px;
    width: 200px;
    border: 2px solid black;
    border-radius: 5px;
}
#enter{
    height: 30px;
    padding: 0px 10px;
    background-color: purple;
    color: gold;
}
#reset{
    padding: 0px 10px;
    height: 30px;
    background-color: red;
    color: aqua;
    border-radius: 5px;
}
#click:hover{
    background-color: yellow;
    color: blue;
}
#plus_two:hover{
    background-color: orange;
    color: green;
}
#enter:hover{
    background-color: gold;
    color: purple;
}
#reset:hover{
    background-color: aqua;
    color: red;
}